.post{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
}
.post>img{
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.postReact{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
}